
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
header,
main,
footer {
  max-width: 1500px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #006eb6;
  color: white;
}
main {
    background-color: #AAAAAA;
    display: grid;
    grid-template-columns: 1fr;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    color: black;
}
section {
  padding: 20px;
  background-color: #AAAAAA;
  margin: 1em;
  text-align: center;

}
nav {
    text-align: center;
}
nav a:first-child {
    display: inline-block;
}
nav a {
    padding: 20px;
    color: white;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
footer {
    text-align: center;
}
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 1px solid #ccc;
}
#bodyHeader {
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 700px) {
    #images {
        display: grid;;
        grid-template-columns: 1fr 1fr;
    }
    nav a {
        display: inline;
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    #images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    nav {
        text-align: center;
    }
    nav a {
        display: inline;
    }
}
