h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: #006eb6;
}

hr {
    text-align: center;
    margin: 0 auto;
    background-color: #006eb6;
    height: .1em;
}

p {
    text-align: left;
    margin: 5% auto;
}

.middle {
    font-style: italic;
}

li {
    margin: 2% auto;
}
