/*element.style {
}

*/
h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: #006eb6;
}

hr {
    text-align: center;
    margin: 0 auto;
    background-color: #006eb6;
    height: .1em;
}

p {
    text-align: left;
    margin: 5% auto;
}

.middle {
    font-style: italic;
}

li {
    margin: 2% auto;
}
/*
Logical 'margin-right'. Mapping depends on the parent element's 'writing-mode', 'direction', and 'text-orientation'.

Widely available across major browsers (Baseline since July 2022)
Learn more

Don't show
: 0px;
    unicode-bidi: isolate;
}

body {
    background: var(--siteBgColor);
    color: var(--primaryTextColor);
}
body {
    padding-top: var(--contentVerticalOffset);
}
body, html {
    max-width: 100%;
    min-height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #363636;
    font-family: var(--bodyFont), Arial, Helvetica, sans-serif;
    font-size: var(--body-1);
    line-height: 28px;
}
body {
    margin: 0;
}
*, :after, :before {
    background-repeat: no-repeat;
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
style attribute {
    --contentVerticalOffset: 100px;
    --totalHeaderHeight: 127px;
}
@media only screen and (max-width: 1023px) {
    :root {
        --headerHeight: 92px;
    }
}
:root {
    --miniPlayerHeight: 73px;
}
:root {
    --page-title-1: 2.4rem;
    --title-1: 2.6rem;
    --title-2: 1.9rem;
    --title-3: 1.8rem;
    --title-4: 1.7rem;
    --title-5: 1.5rem;
    --description-1: 1.8rem;
    --description-2: 2rem;
    --description-3: 1.3rem;
    --description-4: 1.3rem;
    --subheading-1: 1.9rem;
    --list-description: 2rem;
    --body-1: 1.4rem;
    --byline-1: 1.6rem;
    --credit-1: 1.2rem;
    --label-1: 1.3rem;
    --label-2: 1.2rem;
    --label-3: 1.2rem;
    --label-4: 2.1rem;
    --label-5: 1.3rem;
    --caption-1: 1.2rem;
    --quote-1: 2rem;
    --read-more-1: 1.4rem;
    --live-beacon: 1.3rem;
    --card-title: 1.5rem;
    --card-description: 1.4rem;
    --event-text: 1.5rem;
    --event-heading: 1.6rem;
    --calendar-title: 2.4rem;
}
:root {
    --primaryColor: #006eb6;
    --secondaryColor: #a2daff;
    --grayscaleOne: #faf9f9;
    --grayscaleTwo: #f1eced;
    --grayscaleThree: #e6dfe0;
    --grayscaleFour: #f0f0f0;
    --grayscaleFive: #949494;
    --grayscaleSix: #656565;
    --primaryTextColor: #141414;
    --secondaryTextColor: #141414;
    --inverseTextColor: #ffffff;
    --quoteTextColor: #000000;
    --linkTextColor: #006eb6;
    --linkHoverColor: #1764aa;
    --containerMaxWidth: 1240px;
    --containerXlMaxWidth: 1440px;
    --containerNarrowWidth: 800px;
    --gap: 20px;
    --verticalGap: var(--gap);
    --siteBgColor: #ffffff;
    --backgroundColor: #ffffff;
    --borderColor: #006eb6;
    --headerBgColor: #006eb6;
    --headerTextColor: #ffffff;
    --headerHeight: 32px;
    --footerBgColor: #006eb6;
    --footerTextColor: #ffffff;
    --footerLinkTextColor: var(--secondaryTextColor);
    --buttonBorderWidth: 1.5px;
    --buttonBorderRadius: 5px;
    --primaryButtonBgColor: #006eb6;
    --primaryButtonBorderColor: #006eb6;
    --primaryButtonTextColor: #ffffff;
    --primaryButtonHoverColor: #1764aa;
    --secondaryButtonBgColor: #656565;
    --secondaryButtonBorderColor: #656565;
    --secondaryButtonTextColor: #ffffff;
    --primaryHeadlineFont: acumin-pro-semi-condensed;
    --bodyFont: acumin-pro;
    --serif: freight-micro-pro;
    --live: #ee0120;
    --gray: #d4d4d4;
    --white: #ffffff;
    --black: #000000;
    --error: #ee0120;
    --success: #28a745;
    --idaho-blue: #006eb6;
    --colorCharcoal: #2a2a2a;
    --bannerBgColor: #a2daff;
    --bannerTextColor: #ffffff;
Show all properties (9 more)
}
html {
    font-size: 62.5%;
    scroll-padding-top: var(--contentVerticalOffset);
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    cursor: default;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Oxygen, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.15;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    word-break: break-word;
}
@media only screen and (min-width: 568px) {
    body:before {
        content: "mq-sm";
    }
}
@media only screen and (min-width: 320px) {
    body:before
Specificity: (0,0,2)
 {
        content: "mq-xs";
    }
}

body:before {
    visibility: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
:after, :before {
    text-decoration: inherit;
    vertical-align: inherit;
}
*, :after, :before {
    background-repeat: no-repeat;
    box-sizing: border-box;
}
:after, :before {
    text-decoration: inherit;
    vertical-align: inherit;
}
*, :after, :before {
    background-repeat: no-repeat;
    box-sizing: border-box;
}
::selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none;
}
::selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none;
}
<style>
@font-face {
    font-display: auto;
    font-family: acumin-pro;
    font-style: normal;
    font-weight: 700;
    src: url(https://use.typekit.net/af/6d4bb2/0000000…/27/l?primer=7cdcb44…&fvd=n7&v=3) format("woff2");
} */